@charset "UTF-8";

/*
em html tudo o que é id no css é # (não pode mais de um)
em html tudo o que é class no css é . (pode varios)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1e412f;
}
h2{
    color: rgb(81, 128, 81);
}
#principal{
    background-color: #3c805e;
    text-align: center;
    color: white;
}
.basico{
    color: rgb(3, 148, 3);
}
.intermediario{
    color: rgb(255, 196, 0);
}
.avançado{
    color: red;
}
.destaque{
    background-color: rgba(197, 197, 96, 0.37);
}